* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  width: 100%;
  height: 100%;
  overflow: hidden; /* عشان نمنع السكرول ويطلع الـ 3D مظبوط */
  background-color: #020617; /* لون غامق شيك مريح للعين */
}